$sans-serif = 'CircularStd',
              'Roboto',
              'Open Sans',
              'Noto Sans',
              'Fira Sans',
              'CircularStd',
              'Helvetica Neue',
              'Helvetica',
              'Ser­avek',
              'Avenir',
              'Franklin Gothic',
              'Arial',
              sans-serif