/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  WEIGHTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// 400 • regular
@font-face
    font-family: 'CircularStd'
    font-weight: 400
    font-style: normal
    src: url(source + 'Source/CircularStd/CircularStd-Book.ttf') format('truetype')

// 400i • regular: italic
@font-face
    font-family: 'CircularStd'
    font-weight: 400
    font-style: italic
    src: url(source + 'Source/CircularStd/CircularStd-BookItalic.ttf') format('truetype')

// 600 • semibold
@font-face
    font-family: 'CircularStd'
    font-weight: 600
    font-style: normal
    src: url(source + 'Source/CircularStd/CircularStd-Medium.ttf') format('truetype')

// 600 • semibold: italic
@font-face
    font-family: 'CircularStd'
    font-weight: 600
    font-style: italic
    src: url(source + 'Source/CircularStd/CircularStd-MediumItalic.ttf') format('truetype')

// 700 • bold
@font-face
    font-family: 'CircularStd'
    font-weight: 700
    font-style: normal
    src: url(source + 'Source/CircularStd/CircularStd-Black.ttf') format('truetype')

// 700 • bold: italic
@font-face
    font-family: 'CircularStd'
    font-weight: 700
    font-style: italic
    src: url(source + 'Source/CircularStd/CircularStd-BlackItalic.ttf') format('truetype')