section(class="canvas front" id="front")

    div(class="content")

        div
            img(src='/assets/images/global/_link/DynaHubLogo_square.png' alt='DynaHub' style='width:200px; height:200px;')
            h2 DynaHub

        div

            h4 Dynamo meets version control

        p DynaHub allows you to store your Dynamo graphs on GitHub and access them from everywhere.
        p Keep track of changes. Secure your IP. Make Dynamo more accessible.

            //- div

            //-     a(href="#section-2") Button 1
            //-     a(href="#section-3") Button 2

    +nav-1("section-1")
